<!DOCTYPE html>
<html lang="en" ng-app="MyAngular">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="js/libs/angular/angular.min.js"></script>
    <style>
        *{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        body{
            font-16px/1.5 sans-serif;
            color: #222;
            margin: 5em;
        }
        hr{
            height: 1px;
            border: none;
            background-color: #ccc;
            margin: 20px 0;
        }
        .first-true{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1>Data Model</h1>
    <div>
        <input type="text" ng-model="band">
        <p>My Cellphone Brand : {{band}}</p>
    </div>

    <hr>

    <h1>Show - Hide Directive</h1>
    <div>
        <input type="text" ng-model="name">
        <input type="checkbox" ng-model="checked">
        <label>Show?</label>
    </div>
    <div ng-show="checked">
        Hello, {{name}}!
    </div>
    <div ng-hide="checked">
        Bye, {{name || "world"}}!
    </div>

    <hr>

    <h1>Repeat List and Filter</h1>
    <div>
        <input type="search" ng-model="search">
    </div>
    <div ng-controller="List">
        <ul>
            <li ng-repeat="name in names | filter:search">{{name}}</li>
        </ul>
        <ul>
            <li ng-repeat="person in members | filter:search">
                {{person.name}} {{person.age}}
                <button ng-click="remove($index)" class="first-{{$first}}">x</button>
                <span ng-show="$first">First!</span>
                <span ng-show="$middle">Middle!</span>
                <span ng-show="$last">Last!</span>
            </li>
        </ul>

        <span>There are {{members.length}} people in the member list.</span><br><br>
        
        <div>
            <label>Name:</label>
            <input type="text" ng-model="new_name"><br>
            <label>Age:</label>
            <input type="number" ng-model="new_age"><br>
            <button ng-click="add()">Add</button>
        </div>
    </div>

    <hr>

    <h1>Change</h1>
    <div ng-controller="Browser">
        <div>
            <label>url</label>
            <input type="text" value="edit/{{path}}">
        </div>
        <div>
            <label>Update the url:</label>
            <input type="text" ng-change="clean()" ng-model="path">
        </div>
    </div>

    

    <script>
        var app = angular.module('MyAngular', []);
        app.controller('List',function($scope){
            $scope.names = ["Tom", "Jeffrey", "Dan", "David"];
            $scope.members = [
                {name: "Tom", age: 20},
                {name: "Jeffrey", age: 30},
                {name: "Dan", age: 40},
                {name: "Angga", age: 45}
            ];

            $scope.add = function(){
                $scope.members.push({
                    name: $scope.new_name,
                    age: $scope.new_age
                });

                $scope.new_name = "";
                $scope.new_age = "";
            };

            $scope.remove = function(index){
                $scope.members.splice(index, 1)
            }
        });

        app.controller('Browser',function($scope){
            $scope.clean = function(){
                $scope.path = $scope.path
                        .replace(/\s+/g, '-')
                        .replace(/[^a-z0-9-]/ig,'');
            }
        });

    </script>
</body>
</html>