<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="js/libs/angular/angular.min.js"></script>
    <style>
        *{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        body{
            font-16px/1.5 sans-serif;
            color: #222;
            margin: 5em;
        }
    </style>
</head>
<body>
    <div>
        <input type="text" ng-model="name">
        <input type="checkbox" ng-model="checked">
        <label>Show?</label>
    </div>
    <div ng-show="checked">
        Hello, {{name}}!
    </div>
    <div ng-hide="checked">
        Bye, {{name || "world"}}!
    </div>
</body>
</html>